<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.futubohemia"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="23" />

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyDfaSYEDhhkWNsIq1S7ofxLRPfw2yuQPcE" />
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <activity
        android:name="com.auth0.lock.LockActivity"
        android:theme="@style/MyLock.Theme"
        android:screenOrientation="portrait"
        android:launchMode="singleTask">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"/>
          <category android:name="android.intent.category.DEFAULT"/>
          <category android:name="android.intent.category.BROWSABLE"/>
          <data
            android:scheme="a0wjivk_ggpbtq_pcgnepxh9rxolwie_b3"
            android:host="@string/auth0_domain"
          />
        </intent-filter>
            <!-- android:pathPrefix="/android/com.futubohemia/callback" -->
      </activity>
      <!--Auth0 Lock End-->
      <!--Auth0 Lock Passwordless-->
      <activity
          android:name="com.auth0.lock.passwordless.LockPasswordlessActivity"
          android:theme="@style/Lock.Theme"
          android:screenOrientation="portrait"
          android:launchMode="singleTask">
      </activity>
      <activity
          android:name="com.auth0.lock.passwordless.CountryCodeActivity"
          android:theme="@style/Lock.Theme">
      </activity>

    </application>

</manifest>
